/* Minimal styles used by scaffold */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

/* Use Tailwind to generate utilities instead of manually defining them */
@tailwind base;
@tailwind components;
@tailwind utilities;
